@font-face {
   font-family: 'kanit';
   src: url('../fonts/Kanit-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'kanit-bold';
   src: url('../fonts/Kanit-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'promt';
   src: url('../fonts/Prompt-Light.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'promt-bold';
   src: url('../fonts/Prompt-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'poppins';
   src: url('../fonts/Poppins-Light.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'poppins-bold';
   src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}

.thai-lang
{
   font-family: 'promt';
}

.thai-lang-bold
{
   font-family: 'promt-bold';
}

.eng-lang
{
   font-family: 'poppins';
}

.eng-lang-bold
{
   font-family: 'poppins-bold';
}

body{
   font-family: 'promt' !important;
}

.g-page{
   padding-top: 7% !important;
   padding-bottom: 20% !important;
}

.login-page ,.register-page{
   padding-top: 12% !important;
   padding-bottom: 20% !important;
}

/* .tail {
   position: absolute;
   height: 6px; width: 6px;
   border-radius: 3px;
   background: rgb(255, 216, 42);
   opacity:0.5;
 } */

 .arrow-down {
   -webkit-animation: bounce .3s infinite alternate;
   -moz-animation: bounce .3s infinite alternate;
   animation: bounce .3s infinite alternate;
 }
 @-webkit-keyframes bounce {
   to { -webkit-transform: scale(1.2); }
 }
 @-moz-keyframes bounce {
   to { -moz-transform: scale(1.2); }
 }
 @keyframes bounce {
   to { transform: scale(1.2); }
 }

 .main-header-light{
    background-color: rgba(250, 250, 250,0.95) !important;
 }

 .main-menu-light li a {
    color: #000 !important;
 }
 .has-submenu:hover{
   cursor: pointer;
 }

 .about-us-menu a,.arrow-down a{
   cursor: pointer;
 }

 .arrow-down img{
    width:55px;
    opacity:0.3;
 }
 
 .sub-menu li:hover{
   background-color:#faf7af !important;
   font-family: 'promt-bold' !important;
 }
 .main-menu li .sub-menu li {
   margin-bottom: 0px !important;
   padding-top: 15px !important;
}

 .main-menu li a{
    font-size : 15px !important;
 }

 .content-hide p{
    font-size:15px;
 }

.login-form {
   background-color: rgba(250,250,250,0.1);
   padding: 30px;
   width: 100%;
}

.login-form input {
   width: 100%;
   height: 40px;
   background-color: rgba(250,250,250,0.1);
   border-radius: 0px;
   border: none;
   outline: none;
   color: #fff;
   font-size: 13px;
   margin-bottom: 20px;
   letter-spacing: 0.5px;
}

.main-menu li .sub-menu {
   background-color: rgba(250, 250, 250,0.95) !important;
}

.features h4{
   font-size:19px;
}

#register .alert-danger,#login .alert-danger {
   color: #f5c6cb !important;
   background-color: rgba(250, 250, 250,0) !important;
   border-color: rgba(250, 250, 250,0) !important;
   font-size : 13px !important;
}

section.login .top-content h3 , section.register .top-content h3 {
   font-size: 33px;
   color: #fff;
   background-color: rgba(250,250,250,0.2);
   padding: 40px;
   text-align: center;
   line-height: 24px;
}

section.login form , section.register form {
   background-color: rgba(250,250,250,0.1);
   padding: 60px 40px;
   width: 100%;
   text-align: center;
}

section.login form input ,section.register form input ,section.register form select{
   width: 100%;
   height: 40px;
   background-color: rgba(250,250,250,0.1);
   border-radius: 0px;
   border: none;
   outline: none;
   color: #fff;
   font-size: 13px;
   margin-bottom: 20px;
   letter-spacing: 0.5px;
}

section.login form button ,section.register form button {
   margin-top: 10px;
   background-color: #f5a425;
   color: #fff;
   font-size: 13px;
   text-transform: uppercase;
   letter-spacing: 0.5px;
   font-weight: 700;
   padding: 12px 20px;
   display: inline-block;
   outline: none;
   box-shadow: none;
   border: none;
}

section.login , section.register {
   background-image: url(../images/coming-soon-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #172238;
   padding: 120px 0px;
}

section.login form input::placeholder ,section.register form input::placeholder {
   color: #c0c0c0;
   opacity: 1; /* Firefox */
 }
 section.login form input:-ms-input-placeholder ,section.register form input:-ms-input-placeholder{ /* Internet Explorer 10-11 */
  color: #c0c0c0;
 }
 section.login form input::-ms-input-placeholder ,section.register form input::-ms-input-placeholder{ /* Microsoft Edge */
  color: #c0c0c0;
 }

 .main-button a
 {
   font-size:20px;
 }

 @media screen and (max-width: 1050px)
 {
   .main-header .logo {
      padding-left: 17px !important;
   }
}

 @media screen and (max-width: 950px){
   nav[role="navigation"] ul {
      background-color: rgba(250, 250, 250,0.95) !important;
  }
   a.menu-link {
      font-size: 30px !important;
      padding-top: 10px !important;
   }
   .main-header .logo {
      line-height: 50px !important;
  }
}

@media only screen and (max-width: 600px)  /*MOBILE*/
{
   .main-banner .caption h2
   {
      font-size:22px !important;
   }
   .main-header{
      height: 55px;
   }
  
}

@media all and (device-width: 768px) {  /*IPAD*/
   #bg-video {
      min-height: 55vh;
   }
   .features div{
      text-align:center;
   }
}

@media only screen and (min-width: 1024px) /*IPAD PRO*/
{  
   #bg-video {
      min-height: 55vh;
   }
  footer p{
      padding: 0px 0px !important;
   }
}

@media only screen and (min-width: 768px) /*IPAD PRO*/
{  
   .center {
      width: 85% !important;
  }
  .find-sheet-button{
      margin-right: -30%;
      margin-left: 15%;
  }
}

@media only screen and (max-width: 768px){   /* MOBILE */
   section.login .right-content, section.register .right-content {
      margin-top: 60px;
      margin-left: 0px;
  }
  .form-custom a{
      font-size : 13px !important;
   }
   .main-button find-tutor-button{
      width: 150% !important;
   }
   .features div{
      text-align:center;
   }
   #bg-video {
      min-height: 55vh;
   }
   .main-banner .caption h6{
      padding-top: 70px;
      font-size: 12px;
      margin-bottom: -16px;
   }
   .main-header .logo {
      padding-left: 10px !important;
  }
  .main-header .logo img{
   height: 40px;
  }
  .features h4 {
      font-size: 13px;
   }
   .arrow-down img{
      width:30px;
   }
}

@media only screen and (max-width: 1024px)
 {
   section.about-us {
      background-size: cover;
  }
  .main-header .logo a img{
     margin-top : 10px;
  }
 }
@media only screen and (min-width: 769px)
 {
   .contact-container {
      max-width: 90%;
   }
   .center{
      width: 70%;
   }
}

@media screen and (max-width: 1180px)
{
.main-banner .caption h2 {
    font-size: 40px;
}
footer p{
   padding: 0px 0px !important;
}
.bottom_border p {
   font-size : 10px !important;
};
.social_footer_ul li a { padding: 6px !important; }
}

section.login .right-content, section.register .right-content {
   margin-left: 10px;
}

.form-custom{
   padding-left: 5px;
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
 }

 .worker-desc{
   padding-top: 30px;
 }
 .worker-desc , .worker-title
 {
    color:#fff;
    
 }

.worker-item
{
   padding-top: 20px;
}

.about-us-box
{
   color:#fff;
   font-size:18px;
   padding-top:15px;
}
.about-us-title ,.sheet-title
{
   font-size:40px !important;
}

section.about-us {
   background-image: url(../images/contact-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover; 
   background-color: #172238;
   padding-bottom: 120px;
}

.section-heading-about-us
{
   margin-bottom: 60px;
}



/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:11px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
footer a { font-size:11px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;font-size : 15px;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}
.social_footer_ul li a:hover {color:#f6bf3e; border-color:#f6bf3e;}
footer {
   text-align: left !important;
   letter-spacing: 0px !important;
}

footer a:hover {color:#f6bf3e !important;font-weight: bold !important;}
.last-footer{
   min-height: 60px;
   max-height: 279px;
   font-family: 'poppins-bold' !important;
}

.social_footer_ul li{
   padding-top:20px;
}



